<!-- header.ejs -->
<header>
    <div id="navMenu" class="nav-menu">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/crm">CRM</a></li>
            <li><a href="/financial">Financial</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/calculator">Calculator</a></li>
        </ul>
    </div>
  <a href="/" class="companyName">BTG Gutters</a>
    <div class="icons">
        <img class="hamburgerIcon" src="/images/hamburgerIcon.png" alt="Hamburger">
    </div>
</header>