<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web App</title>
    <link rel="stylesheet" href="/styles/financial.css">

    <link rel="stylesheet" href="/styles/styles.css">
</head>
  <body>
    <%- include('partials/header') %>
    <main>
    </main>
    <footer>
        <p>© 2022 My Web App</p>
    </footer>
    <script src="/main.js"></script>
</body>
</html>