main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.toLabel,
.inputLabel,
.inputField,
.inputFieldConvert {
    font-size: 1.5rem;
    width: 100%;
}
.outputField,
.materialPrice,
.pricePerFootDisplay,
.materialPriceButton{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}
.materialPrice,
.materialPriceButton {
    text-align: right;

}
.materialPriceButton {
    background-color: var(--second-color);
    border: 3px solid var(--first-color);
}



.btgCard {
    border: 3px solid var(--first-color);
    border-radius: 10px;
    padding: 10px 10px;
    width: 99%;
    margin: 6px auto;
    background-color: var(--second-color);
    height: auto;
    display: flexbox;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    margin-bottom: 10px;
}

.toggleContainer {
    margin: 5px 0;
    border-bottom: 1px solid var(--third-color);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    height: 40px;

}

.inputField {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;

}

.outputField {
    text-align: right;
    flex-grow: 1;
    margin-left: auto;

}

.toggleButton,
.toggleButtonKwm {
    padding: 5px 5px;
    border: 4px solid var(--first-color);
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    flex-grow: 0;
    flex-shrink: 0;
}

.priceSection {
    font-size: 2rem;
    text-align: right;

}

.priceRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}

.priceBottomRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
}

.searchContainer {
    display: flexbox;
}

.searchBar,
.colorDropdown {
    width: 100%;
    padding: 5px;
    font-size: 2rem;
    border: 1px solid black;
    border-radius: 10px;
}
.typeOfCalculationTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.typeOfCalculationBottom {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    margin: 2px 15px;

}

.pricePerFootDisplay {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.pricePerFoot {
    -webkit-appearance: none;
    background: transparent;
}


.pricePerFoot::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background: var(--first-color);
    cursor: pointer;
    border-radius: 50%;
    margin-top: -19px;

}


.pricePerFoot::-webkit-slider-runnable-track {
    height: 8px;
    background: var(--third-color);
    border-radius: 4px;
}

.search-container {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownContent div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent div:hover {
    background-color: #f1f1f1
}

.calculatorDropdown {
    width: 100%;
    padding: 5px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
}

