main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.toLabel {
  font-size: 2.2rem;
  font-weight: bold;
  MARgin-left:10px;
  width: 20%;
}
.kwmCard {
    border: 3px solid var(--first-color);
    border-radius: 10px;
    padding: 10px 10px;
    width: 98%;
    margin: 6px auto;
    background-color: var(--second-color);
    height: auto;
    display: grid;
    grid-template-rows: 4fr 4fr 4fr;
}
.row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.inputBox {
    width: 80px;
    padding: 5px;
    border: 1px solid black;
    font-size: 2rem;
}
.conversionsOutputBox {
    width: 80%;
    border: none;
    background-color: var(--second-color);
    font-size: 2rem;
    text-align: center;
}
.sizeRow {
    display: flex;
    justify-content: space-between;
}

.smallCard {
    border: 3px solid var(--first-color);
    border-radius: 10px;
    position: relative;
    padding: 10px 10px;
    width: 100%;
    margin: 10px auto;
    background-color: var(--second-color);
    height: auto;
    font-size: 1.5rem;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 10fr;
    box-sizing: border-box;
}
/* same as other buttons */
.typeOfCalculation {
    height: 5vh;
    background-color: var(--first-color); /* neon green background */
    color: rgb(0, 0, 0); /* white text */
    border: 2px white; /* remove default border */
    border-radius: 50px; /* fully rounded corners */
    font-size: 2rem; /* slightly larger text */
    font-weight: bold; /* bold text */
    width: 70%; /* full width */
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggleContainer {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--third-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    grid-auto-flow: column;
}
.AccessoriesToggleCotainer {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--third-color);
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    grid-auto-flow: column;
}
.accessoriesButton {

    padding: 5px 5px;
    border: 2px solid var(--first-color);
    background-color: white;
    height: 7vh;
    width: auto;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: bold;

}
.inputField {
    width: 80px ;
    font-size: 2rem;
}
.calculatorTitle {
    width: 90%;

}
.kwmButtonArea {
    width: 20%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggleButton , .toggleButtonKwm {

    padding: 5px 5px;
    border: 4px solid var(--first-color);
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */

}

.price {
    font-size: 2rem;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.ignoreButton {
    padding: 5px 10px;
    border: none;
    background-color: var(--second-color);
    cursor: pointer;
    transition: background-color 0.3s;
    width: 12vw;
    height: 100%;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: bold;
}
.pricePerFoot {
    width: 25vw;
    height: 5vh;
    font-size: 2rem;
    text-align: center;
    border: 2px solid black;
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.firstOutputField {
    text-align: center;
}
.secondOutputField {
    width: 100%;
    text-align: right;
}
.outputField {
    font-size: 2rem;
    width: 70%;
    text-align: right;
    overflow: hidden;
}
