

.homeAppButtonContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
    gap: 10px;
    padding: 10px;

}


.homeApp {
    font-size: 7vw; /* Adjust font size based on viewport width */
    width: 100%;
    height: 105px;
}
.homeApp::after {
    content: '';
    position: absolute;
    top: -50%; 
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 60%);
    transform: rotate(45deg) translate(25%, 25%);
    transition: opacity 0.3s ease;
    pointer-events: none; /* Ensures clicks go through the pseudo-element */
}