.content {
  display: none;
}

  /* Nav Bar */


  .typeOfMaterialSwitchFeild, .contentTopFeild {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 10vh;
  }
  .contentTopFeild {
    grid-template-columns: 8fr 3fr;
  }
  .typeOfMaterialButton {
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 40vw;
    height: 70%;
    font-weight: bold;
    font-size: 1.8rem;
  }


.searchBar {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 85%;
  height: 70%;
  font-weight: bold;
  font-size: 1.8rem;
  padding: 2px;
}

.searchBar::placeholder {
  text-align: center; /* Center the placeholder text */
  color: #ffffff; /* White color for placeholder text */
  opacity: .8; /* Optional: Full opacity to ensure the color is not translucent */
}
.addButton {
  background-color: var(--main-color);
  color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 85%;
  height: 70%;
  font-weight: bold;
  font-size: 1.8rem;
}
.sizeButton {
  padding: 4px 4px;
  border: 2px solid var(--main-color);
  background-color: var(--secondary-color);
  border-radius: 50%;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--main-color);
  width: 30vw;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  .itemsModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    position: relative;
    background-color: var(--tertiary-color);
    margin: 15% auto;
    padding: 60px 10px;
    border-radius: 10px;
    width: 98%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.15);
    color: white;
  }
  
  .close, .closeForColorCard, .closeAddModal {
    color: white;
    position: absolute;
    top: 2px;
    right: 15px;
    font-size: 2.4rem;
    font-weight: bold;
  }

  .modalDropdown {
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
  }

  .coloredContentAddBox {
    width: 30%;
    padding: 5px 0;
  }
  .coloredContentCard, .otherContentCard {
    width: 85%;
    box-shadow: 0 0 0 2px var(--main-color);
    border-radius: 15px;
    margin: 10px auto;
    padding: 8px;
    background: var(--secondary-color);
    font-size: 1.2rem;
  }

.coloredContentCardFeild {
    text-align: left;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.modalNumberFeild {
  text-align: center;
  width: 25%;
}
.coloredContentSizeSwitchButton {
  width: 25%;

}
.modalLabelDropdown {
  width: 70%;
  padding: 5px 0;
}
.colorCardClickModalField {
  display: flex;
  gap: 10px;
  font-size: 1.2rem;
  padding: 8px;
  justify-content: center; /* Center the items horizontally */
}
.colorCardModalColor, .colorCardModalItem, .colorCardModalQty {
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Hides any content that overflows the element's box */
  text-overflow: ellipsis; /* Adds an ellipsis to any text that overflows */
}

.colorCardModalColor {
  flex: 0 0 30%; /* Do not grow or shrink, set basis to 30% */
  text-align: left; /* Align text to the left */
}

.colorCardModalItem {
  flex: 0 0 40%; /* Do not grow or shrink, set basis to 40% */
  text-align: center; /* Align text to the center */
}

.colorCardModalQty {
  flex: 0 0 30%; /* Do not grow or shrink, set basis to 30% */
  text-align: right; /* Align text to the right */
}


.colorCardModalColor {
  color: rgb(20, 20, 20);
  position: absolute;
  top: 2px;
  left: 15px;
  font-size: 2.4rem;
  font-weight: bold;
}
.colorCardModalSize, .colorCardModalItem, .colorCardModalQty {
  width: 33%;
  font-size: 2rem;
}

.otherContentAddRow, .nameAndQTYLabelsModalAdd {
  display: flex;
  justify-content: space-between;
}
.submitButtonforOther, .addAnotherRowButton, .submitButton, .addRowButton {
  width: 100%;
  height: 6vh;
  margin-top: 10px;
  
  
}
.nameAndQTYLabelsModalAdd {
  width: 100%;
  text-align: center;
}
.qtyInput {
  margin-top: 8px;
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
}
.label {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}
.nameDropdown {
  margin-top: 8px;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.otherContentFeild {
  font-size: 2rem;
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgb(238, 238, 238);
  border-radius: 20px;
  width: 95%;
  margin: 10px auto;
  max-height: auto;
  min-height: 24vh;
  align-items: center;
}
.otherContentLabel {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  gap: 190px;
  color: var(--main-color);
  font-weight: bold;

}
.otherContentCard {
  display: flex;
  align-items: center;
}
.otherContentCardQTY {
  width: 40%;
  text-align: right;
  font-size: 1.8rem;
}
.otherContentCardItem {
  width: 60%;
  text-align: left;
  font-size: 1.8rem;
}