
.topOfjobsPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

.jobsSearchInput {
    height: 40px;
}

.jobsCard {
    border: 3px solid var(--first-color);
    border-radius: 10px;
    align-items: center;
    position: relative;
    padding: 10px 10px;
    width: 100%;
    margin: 10px auto;
    background-color: var(--second-color);
    height: auto;
    font-size: 1.2rem;
}
.jobsCardName {
    width: 100%;
    text-align: left;

}

.jobsCardStatus {
    width: 100%;
    text-align: center;

}
.jobsCardNameandStatus {
    display: flex;
    justify-content: space-between;
}







.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 97%;
  }

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.materialsAddtoJobFeild {
    color: #686868;
}
.materialCardFront {
    border: 3px solid var(--first-color);
    align-items: center;
    position: relative;
    padding: 10px 10px;
    width: 100%;
    margin: 10px auto;
    background-color: #686868;
    color: white;
    height: auto;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.materialCardBack {
    display: none;
    z-index: 1;
    border: 3px solid var(--first-color);
    border-top: none;
    align-items: center;
    position: relative;
    padding: 10px 30px;
    width: 100%;
    margin: 10px auto;
    margin-top: -2px;
    background-color: #686868;
    color: white;
    height: auto;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.guttersMaterialCardContentBelow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.guttersMaterialCardContentBelow input {
    /* Add your styles here */
    border: 1px solid black; /* Example: add a black border */
    border-radius: 5px;
    height: 5vh;
}
.guttersMaterialCardContentUnderTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.smallInput {
    width: 50%;
    height: 5vh;
    border: 1px solid black; /* Example: add a black border */
    border-radius: 5px;


}
.commonForm {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid var(--first-color);
    border-radius: 15px;
    background: var(--second-color);
}

.commonForm input {
    width: 100%; /* Adjust width as needed */
    box-sizing: border-box; /* Include padding and border in the element's width */
    height: 40px;
    text-align: left;
    font-size: var(--medium);
    border: 2px solid var(--first-color);
    border-radius: 8px;
    margin-bottom: 10px;
  }