/* Reset some default browser styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #ffffff;
}
:root {
    --main-color: #39ff14; /* Neon green */
    --secondary-color: #646464; /* Dark grey */
    --tertiary-color: #c9c9c9;
     /* White */
    
}

/* Start of Header */


.companyName {
    text-decoration: none; /* Removes the underline */
    color: white; /* Sets the text color to white */
    cursor: default; /* Changes the cursor to the default style instead of pointer */
    font-size: 3rem; /* Increases the font size */
    font-weight: bold; /* Makes the text bold */
  
}
header {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 3px var(--main-color) solid;
}
.loginButton {
    height: 10vw;
    width: 15vw;
    text-align: center;
    align-items: center;    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);   

    color: white; /* Sets the text color to white */

}
.loginText {
    font-size: 18vw;
    font-weight: bold;
    text-decoration: none; /* Removes the underline */
    color: red;
}
/* End of Header */